@import 'mixins';


@include breakpoints-desktop(xlarge) {
    // 
    .topSection {
        position: relative;
        min-height: 37.4375rem;
        width: 100%;
        display: flex;
        
        .header {
            padding: 3.75rem 3.9375rem;
            min-height: 100%;
            width: 57%;
            background: url('/images/desktop-image-hero-1.jpg') no-repeat center center / cover;
    
            &__nav {
                display: flex;
    
                .myLogo {
                    margin-right: 4.75rem;
                }
    
                &__links {
                    display: flex;
    
                    a {
                        font-family: $primaryFont;
                        font-size: 1rem;
                        text-transform: lowercase;
                        color: $white;
    
                        &:not(:last-child) {
                            margin-right: 2rem;
                        }
                    }
                }
            }

            .sliderButtons {
                position: absolute;
                bottom: 0;
                right: 27.8rem;
                width: 12.499rem;
                height: 5.0625rem;
                background-color: $black;
                display: flex;
                justify-content: space-between;
                align-items: center;

                span {
                    // background-color: ;
                    cursor: pointer;
                    height: 100%;
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: all 0.3s ease-in-out;

                    &:hover {
                        background-color: $varyDarkGray;
                    }
                }
            }
        }
    
        .intro {
            min-height: 100%;
            width: 43%;
            margin: auto;
            // padding: 7.5625rem 6.15rem 7.5625rem 6.1875rem;
            // display: flex;
            // justify-content: center;
            // align-items: center;
    
            &__container {
                // background-color: yellow;
                margin: 5.5625rem 6.1875rem;
    
                h3 {
                    // width: 25.5625rem;
                    font-family: $primaryFont;
                    font-size: 2.4375rem;
                    margin-bottom: 1.6875rem;
                }
    
                p {
                    font-family: $primaryFont;
                    font-size: 0.85rem;
                    color: $darkGray;
                    line-height: 1.6rem;
                    width: 29.5rem;
                    margin-bottom: 1.975rem;
                }
    
                .shopNow {
                    font-family: $primaryFont;
                    letter-spacing: 0.625rem;
                    color: $black;
                    text-transform: uppercase;
                    transition: all 0.3s ease-in-out;
    
    
                    img {
                        width: 2.75rem;
                        margin-left: 2.6875rem;
                    }
    
                    &:hover {
                        opacity: 0.3;
                    }
                }
            }
        }
    }
}


// Mobile View
@include breakpoints-mobile(small) {
    // 
    .topSection {
        min-height: 37.4375rem;
        width: 100%;
        display: flex;
        
        .header {
            padding: 3.75rem 3.9375rem;
            min-height: 100%;
            width: 57%;
            background: url('/images/desktop-image-hero-1.jpg') no-repeat center center / cover;
    
            &__nav {
                display: flex;
    
                .myLogo {
                    margin-right: 4.75rem;
                }
    
                &__links {
                    display: flex;
    
                    a {
                        font-family: $primaryFont;
                        font-size: 1rem;
                        text-transform: lowercase;
                        color: $white;
    
                        &:not(:last-child) {
                            margin-right: 2rem;
                        }
                    }
                }
            }
        }
    
        .intro {
            min-height: 100%;
            width: 43%;
            margin: auto;
            // padding: 7.5625rem 6.15rem 7.5625rem 6.1875rem;
            // display: flex;
            // justify-content: center;
            // align-items: center;
    
            &__container {
                // background-color: yellow;
                margin: 5.5625rem 6.1875rem;
    
                h3 {
                    // width: 25.5625rem;
                    font-family: $primaryFont;
                    font-size: 2.4375rem;
                    margin-bottom: 1.6875rem;
                }
    
                p {
                    font-family: $primaryFont;
                    font-size: 0.85rem;
                    color: $darkGray;
                    line-height: 1.6rem;
                    width: 29.5rem;
                    margin-bottom: 1.975rem;
                }
    
                .shopNow {
                    font-family: $primaryFont;
                    letter-spacing: 0.625rem;
                    color: $black;
                    text-transform: uppercase;
                    transition: all 0.3s ease-in-out;
    
    
                    img {
                        width: 2.75rem;
                        margin-left: 2.6875rem;
                    }
    
                    &:hover {
                        opacity: 0.3;
                    }
                }
            }
        }
    }
}

