// Style Guide
    
// Colors
    // Primary
    $darkGray: hsl(0, 0%, 63%);
    $black: hsl(0, 0%, 0%);
    $white: hsl(0, 0%, 100%);
    $varyDarkGray: hsl(0, 0%, 27%);


// Typography
    // Body
    $bodyFontSize: 0.75‬rem;

    // Fonts
    $primaryFont: 'Spartan', sans-serif;
    $lightWeight: 500;
    $boldWeight: 600;
    $varyBoldWeight: 700;

