@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 0.75‬rem;
}

a {
  text-decoration: none;
}

.attribution {
  text-align: center;
  font-size: 15px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

@media (min-width: 64rem) {
  .topSection {
    position: relative;
    min-height: 37.4375rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topSection .header {
    padding: 3.75rem 3.9375rem;
    min-height: 100%;
    width: 57%;
    background: url("/images/desktop-image-hero-1.jpg") no-repeat center center/cover;
  }
  .topSection .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topSection .header__nav .myLogo {
    margin-right: 4.75rem;
  }
  .topSection .header__nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topSection .header__nav__links a {
    font-family: "Spartan", sans-serif;
    font-size: 1rem;
    text-transform: lowercase;
    color: white;
  }
  .topSection .header__nav__links a:not(:last-child) {
    margin-right: 2rem;
  }
  .topSection .header .sliderButtons {
    position: absolute;
    bottom: 0;
    right: 27.8rem;
    width: 12.499rem;
    height: 5.0625rem;
    background-color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topSection .header .sliderButtons span {
    cursor: pointer;
    height: 100%;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .topSection .header .sliderButtons span:hover {
    background-color: #454545;
  }
  .topSection .intro {
    min-height: 100%;
    width: 43%;
    margin: auto;
  }
  .topSection .intro__container {
    margin: 5.5625rem 6.1875rem;
  }
  .topSection .intro__container h3 {
    font-family: "Spartan", sans-serif;
    font-size: 2.4375rem;
    margin-bottom: 1.6875rem;
  }
  .topSection .intro__container p {
    font-family: "Spartan", sans-serif;
    font-size: 0.85rem;
    color: #a1a1a1;
    line-height: 1.6rem;
    width: 29.5rem;
    margin-bottom: 1.975rem;
  }
  .topSection .intro__container .shopNow {
    font-family: "Spartan", sans-serif;
    letter-spacing: 0.625rem;
    color: black;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .topSection .intro__container .shopNow img {
    width: 2.75rem;
    margin-left: 2.6875rem;
  }
  .topSection .intro__container .shopNow:hover {
    opacity: 0.3;
  }
}

@media (max-width: 39.9375em) {
  .topSection {
    min-height: 37.4375rem;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topSection .header {
    padding: 3.75rem 3.9375rem;
    min-height: 100%;
    width: 57%;
    background: url("/images/desktop-image-hero-1.jpg") no-repeat center center/cover;
  }
  .topSection .header__nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topSection .header__nav .myLogo {
    margin-right: 4.75rem;
  }
  .topSection .header__nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .topSection .header__nav__links a {
    font-family: "Spartan", sans-serif;
    font-size: 1rem;
    text-transform: lowercase;
    color: white;
  }
  .topSection .header__nav__links a:not(:last-child) {
    margin-right: 2rem;
  }
  .topSection .intro {
    min-height: 100%;
    width: 43%;
    margin: auto;
  }
  .topSection .intro__container {
    margin: 5.5625rem 6.1875rem;
  }
  .topSection .intro__container h3 {
    font-family: "Spartan", sans-serif;
    font-size: 2.4375rem;
    margin-bottom: 1.6875rem;
  }
  .topSection .intro__container p {
    font-family: "Spartan", sans-serif;
    font-size: 0.85rem;
    color: #a1a1a1;
    line-height: 1.6rem;
    width: 29.5rem;
    margin-bottom: 1.975rem;
  }
  .topSection .intro__container .shopNow {
    font-family: "Spartan", sans-serif;
    letter-spacing: 0.625rem;
    color: black;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .topSection .intro__container .shopNow img {
    width: 2.75rem;
    margin-left: 2.6875rem;
  }
  .topSection .intro__container .shopNow:hover {
    opacity: 0.3;
  }
}

@media (min-width: 87.5rem) {
  .bottomSection {
    display: -ms-grid;
    display: grid;
    min-height: 20.625rem;
    -ms-grid-columns: 2.5fr 3fr 2.5fr;
        grid-template-columns: 2.5fr 3fr 2.5fr;
  }
  .bottomSection .aboutDark {
    min-height: 100%;
    background: url("/images/image-about-dark.jpg") no-repeat center center/cover;
  }
  .bottomSection .aboutOur {
    min-height: 100%;
    padding: 6.4375rem 3rem;
  }
  .bottomSection .aboutOur h3 {
    text-transform: uppercase;
    letter-spacing: 0.3125rem;
    font-family: "Spartan", sans-serif;
    font-size: 1.0425rem;
    margin-bottom: 1.1875rem;
  }
  .bottomSection .aboutOur p {
    width: 31.9375rem;
    font-size: 0.85rem;
    font-family: "Spartan", sans-serif;
    line-height: 1.7rem;
  }
  .bottomSection .aboutLight {
    min-height: 100%;
    background: url("/images/image-about-light.jpg") no-repeat center center/cover;
  }
}
/*# sourceMappingURL=style.css.map */